form {
  margin: 1% 0 5% 2%;
  display: flex;
  flex-direction: column;
}

form h4 {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
  padding-left: 20px;
}

input {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 4px;
  height: 2.813rem;
  margin: 0 1%;
}

form button {
  background-color: #0290ff;
  color: #d0eaff;
  border-color: transparent;
  width: 11.5rem;
  height: 2.813rem;
  align-self: flex-end;
}

.input ::placeholder {
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: var(--very-light-pink);
}

.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-title {
  width: 45rem;
  padding-left: 1%;
}

.add-author {
  width: 20rem;
  padding-left: 5%;
}

.input-author-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
